.works {
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1027%26quot%3b)' fill='none'%3e%3cpath d='M228.373%2c249.925C262.855%2c250.958%2c299.308%2c237.337%2c314.562%2c206.396C328.717%2c177.686%2c308.924%2c147.088%2c292.668%2c119.513C276.796%2c92.589%2c259.591%2c61.698%2c228.373%2c60.192C195.393%2c58.601%2c168.258%2c83.809%2c152.35%2c112.742C137.072%2c140.529%2c135.319%2c173.749%2c150.689%2c201.485C166.543%2c230.093%2c195.681%2c248.945%2c228.373%2c249.925' fill='rgba(142%2c 29%2c 28%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M872.898%2c411.756C890.211%2c410.882%2c906.495%2c403.693%2c915.784%2c389.057C925.819%2c373.246%2c929.949%2c352.983%2c920.442%2c336.848C911.047%2c320.902%2c891.402%2c316.649%2c872.898%2c316.271C853.501%2c315.874%2c832.541%2c318.633%2c821.864%2c334.832C810.269%2c352.422%2c810.145%2c376.247%2c821.792%2c393.803C832.491%2c409.929%2c853.571%2c412.732%2c872.898%2c411.756' fill='rgba(142%2c 29%2c 28%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1232.14%2c262.163C1275.492%2c258.694%2c1306.789%2c226.306%2c1329.677%2c189.325C1354.289%2c149.558%2c1380.197%2c101.531%2c1356.515%2c61.203C1332.989%2c21.14%2c1278.596%2c22.589%2c1232.14%2c23.228C1187.279%2c23.845%2c1139.276%2c27.787%2c1113.551%2c64.544C1084.201%2c106.482%2c1076.875%2c163.554%2c1103.214%2c207.446C1128.961%2c250.351%2c1182.262%2c266.154%2c1232.14%2c262.163' fill='rgba(142%2c 29%2c 28%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M165.153%2c341.405C185.803%2c341.466%2c199.842%2c323.003%2c210.128%2c305.097C220.362%2c287.281%2c228.749%2c266.137%2c218.68%2c248.227C208.471%2c230.068%2c185.985%2c225.223%2c165.153%2c225.096C144.036%2c224.967%2c120.777%2c229.129%2c110.483%2c247.567C100.354%2c265.709%2c110.178%2c286.878%2c120.638%2c304.831C130.999%2c322.616%2c144.57%2c341.344%2c165.153%2c341.405' fill='rgba(142%2c 29%2c 28%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M535.966%2c266.89C567.999%2c268.094%2c601.882%2c257.396%2c617.479%2c229.39C632.772%2c201.931%2c622.585%2c168.555%2c605.382%2c142.251C589.954%2c118.661%2c564.144%2c104.027%2c535.966%2c104.756C508.995%2c105.454%2c486.418%2c122.573%2c472.505%2c145.689C458.067%2c169.677%2c451.428%2c198.835%2c464.415%2c223.639C478.271%2c250.101%2c506.117%2c265.768%2c535.966%2c266.89' fill='rgba(142%2c 29%2c 28%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M174.236%2c197.832C197.184%2c198.554%2c219.896%2c188.022%2c231.163%2c168.018C242.251%2c148.332%2c238.911%2c123.86%2c226.552%2c104.946C215.299%2c87.726%2c194.806%2c81.084%2c174.236%2c80.9C153.266%2c80.712%2c131.186%2c86.088%2c120.269%2c103.993C108.98%2c122.509%2c112.378%2c145.824%2c123.189%2c164.623C134.036%2c183.483%2c152.49%2c197.148%2c174.236%2c197.832' fill='rgba(142%2c 29%2c 28%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1321.145%2c291.213C1338.348%2c291.183%2c1353.899%2c281.844%2c1362.856%2c267.157C1372.226%2c251.793%2c1375.544%2c232.447%2c1366.455%2c216.915C1357.441%2c201.511%2c1338.987%2c195.428%2c1321.145%2c195.875C1304.149%2c196.301%2c1288.218%2c204.434%2c1279.606%2c219.092C1270.88%2c233.943%2c1270.58%2c252.379%2c1279.177%2c267.305C1287.789%2c282.258%2c1303.889%2c291.244%2c1321.145%2c291.213' fill='rgba(142%2c 29%2c 28%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1027'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 60px;
    position: absolute;
    color: black;
    cursor: pointer;

    &.left {
      left: 70px;
    }

    &.right {
      right: 70px;
    }
    &:hover {
      color: black;
    }
  }

  .slider {
    height: 550px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 2s ease;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 900px;
        height: 99%;
        background-color: white;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 70px;
              height: 70px;
              border-radius: 50px;
              background-color: rgb(240, 151, 119);
              display: flex;
              align-items: center;
              justify-content: center;
            }

            h2 {
              font-size: 25px;
            }
            p {
              font-size: 18px;
            }
            span {
              font-size: 17px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 550px;
            transform: rotate(-7deg);
          }
        }
      }
    }
  }
}
